body {
  background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0), rgba(0,0,0,0.2));
}

.intro {
  background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0), rgba(0,0,0,0.2));
}

.site-foot {
  background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0), rgba(0,0,0,0.2));
}

.post-list__heading {
  color: var(--color-text-yell);
}
