.intro {
  background: var(--color-theme-highlight-block);
  color: var(--color-bg);

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: var(--color-text);

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-bg);

    &--compact {
      max-width: 20ex;
    }
  }
}
