.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    @include apply-utility('font', 'serif');
    font-size: get-size(800);
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
